.heading {
  border: 5px;
  text-align: center;
}

.container-1 {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
}

.container-1 div {
  border: 1px #ccc solid;
  padding: 10px;
}

.container-1 .box1 {
  -webkit-box-flex: 1;
          flex: 1;
  -webkit-box-ordinal-group: 3;
          order: 2;
}

.container-1 .box2 {
  -webkit-box-flex: 1;
          flex: 1;
  -webkit-box-ordinal-group: 4;
          order: 3;
}

.container-1 .box3 {
  -webkit-box-flex: 1;
          flex: 1;
  -webkit-box-ordinal-group: 2;
          order: 1;
}

.container-2 {
  margin-top: 15px;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
          justify-content: space-between;
}

.container-2 div {
  border: 1px #ccc solid;
  padding: 10px;
  width: 20%;
}

.container-3 {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
}

.container-3 div {
  border: 1px #ccc solid;
  padding: 10px;
}

.container-4 {
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
          justify-content: space-between;
}

.container-4 div {
  border: 1px #ccc solid;
  padding: 10px;
}

.container-4 .box {
  flex-basis: 12%;
}

